body {
	margin: 0 auto;
}

.dashboard-hero {
	// background-color: #F4F4F4;
	margin: 0 auto;
	// color: #B5B5B5;
	background: radial-gradient(rgba(78, 0, 121, 0.39), 
	rgba(84, 17, 123, 0.38)), 
	url("../images/plastic-bottles-4.JPG") no-repeat;

}

.card_container {
	width: 100%;
	margin: 0 auto;
	height: 100%;  
	background: radial-gradient(rgba(78, 0, 121, 0.39), 
	rgba(84, 17, 123, 0.38)), 
	url("../images/plastic-bottles-4.JPG") no-repeat;
}

.hidden_container-form {
	background-color: red;
	width: 65%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}


.hidden_container {
	background-color: red;
	width: 65%;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
}

.new_user {
	background-color: red;
	// border: 1px black solid;
	flex:1;
	text-align: center;
	margin-top: 40px;
}

.media_container {
	display: flex;
	background-color: #F4F4F4;
	height: 150px;
}	
// dashboard-form-container
.dashboard-form-container {
	display: flex;
	flex-direction: column;
	background-color: #F4F4F4;
	height: 220px;
}	

.personal_info {
    border-top: 1px solid green;
}

.personal_numbers {
    border-top: #989191 solid 1px;
}

nav.dashboard_nav {
    border-bottom: grey 2px solid;
}

.personal_info,
.personal_info-input,
.personal_numbers,
.personal_numbers-input {
	flex: 1;
	background-color: white;
	margin: 2px;
	text-align: center;
	padding: 7px;
}

.personal_info span {
	color: #6D6C6C;
}

nav.dashboard_nav {
	height: 31px;
	background-color: white;
	margin-top: 30px;
	right: 0px;
	left: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 26px;
}

nav.dashboard_nav img {
    border: 0;
    height: 33px;
    margin-right: 20px;
    margin-bottom: 25px;
}

button.landing-sign-in {
    color: #3A3939;
}

button.landing-dashboard {
    margin-bottom: 30px;
    color: #3A3939;
}

.dash-input {
	margin: 1px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #F4F4F4;
    background-image: none;
    color: rgb(0, 0, 0);
}

// @media screen and (min-width: 500px) {
// 	.hidden_container-form {
// 		flex-direction: none; 
// 	}
// 	.media_container {
// 		height: 100px;
// 	}	
// 	.card_container {
	
// 	width: 100%;
// 	margin: 0 auto;
// 	height: 100%;  
// 	background: none;
// 	background-color: #F4F4F4;
// }

// }

@media screen and (min-width: 900px) {
	
	.card_container {
	
	width: 70%;
	margin: 0 auto;
	height: 100%;  
	background: none;
	background-color: #F4F4F4;
	}
	.hidden_container {
		background-color: red;
		/*height: 100px;*/
		margin: 0 auto;
		// flex-wrap: wrap;
	}
	.media_container {
		height: 100px;
	}

	.dashboard-form-container {
	display: flex;
	flex-direction: row;
	background-color: #F4F4F4;
	height: 150px;
	}	

}

footer.page_bottom {
    border-left: 3px solid #D2D2D2;
    border-right: 3px solid #D2D2D2;
}