footer.page_bottom {
	height: 100px;
	background-color: white;
	justify-content: center;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	
}

footer.page_bottom img {
	margin-top: 42px;
	height: 29px;
	margin-left: 14px;
	
}

.footer-container {
	background-color: white;
	border-left: solid 3px #F2F2F2;
	border-right: solid 3px #F2F2F2;
}
